:root {
  --color-black: #2c2c54;
  --color-lightgray: #f7f1e3;
  --color-yellow: #ffda79;
  --color-orange: #ff793f;
  --color-red: #ff5252;

  --margin-basic: 20px;
  --padding-basic: 20px;
  --fontsize-basic: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: var(--color-lightgray);
}

button {
  cursor: pointer;
}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  color: var(--color-lightgray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 1000ms;
  animation-name: showslowly;
}

/* clock CSS */
.clock__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--margin-basic) * 2);
  width: 100%;
}

.clock__clock {
  font-size: calc(var(--fontsize-basic) * 5);
}

/* greeting CSS */
.greeting__container {
  margin-bottom: calc(var(--margin-basic) * 2);
}

.greeting__form {
  display: none;
}

.greeting__input,
.greeting__btn {
  color: var(--color-black);
  padding: calc(var(--padding-basic) * 0.8);
  font-size: calc(var(--fontsize-basic) * 1.5);
}

.greeting__input {
  border-radius: 12px;
  margin-right: calc(var(--margin-basic) / 2);
}

.greeting__btn {
  border-radius: 12px;
  background-color: var(--color-yellow);
}

.greeting__btn:hover {
  background-color: var(--color-orange);
  transition: background-color 250ms ease-in;
}

.greeting__desc {
  display: none;
  font-size: calc(var(--fontsize-basic) * 4);
}

.greeting__container .showGreeting {
  display: block;
}

/* focus CSS */

.focus__form--box {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focus__question {
  display: block;
  font-size: calc(var(--fontsize-basic) * 2);
  font-weight: 600;
  margin-bottom: calc(var(--margin-basic) / 2);
}

.focus__input,
.focus__btn--submit {
  color: var(--color-black);
  padding: calc(var(--padding-basic) * 0.8);
  font-size: var(--fontsize-basic);
}

.focus__input {
  border-radius: 12px;
  font-weight: 600;
  margin-right: calc(var(--margin-basic) / 1.5);
}

.focus__btn--submit {
  border-radius: 12px;
  background-color: var(--color-yellow);
  font-size: var(--fontsize-basic);
  font-weight: 600;
}

.focus__btn--submit:hover {
  background-color: var(--color-orange);
  transition: background-color 250ms ease-in;
}

.focus__answer {
  display: none;
  justify-content: center;
  align-items: center;
}

.focus__answer input {
  transform: scale(2);
  margin-right: var(--margin-basic);
}

.focus__answer p {
  font-size: calc(var(--fontsize-basic) * 1.5);
  font-weight: 600;
  margin-right: var(--margin-basic);
}

.focus__answer button {
  font-size: calc(var(--fontsize-basic) * 0.9);
  font-weight: 600;
  color: var(--color-lightgray);
  background-color: var(--color-red);
  border-radius: 6px;
  padding: calc(var(--padding-basic) * 0.5);
}

.showFocus {
  display: flex;
}

/* todo CSS */
.todo__container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-lightgray);
  border-radius: 12px;
  position: absolute;
  width: 300px;
  height: 480px;
  right: 20px;
  bottom: 50px;
}

.todo__list--card {
  width: 100%;
}

.todo__title {
  padding: var(--padding-basic);
  margin-bottom: var(--margin-basic);
  border-bottom: 2px solid var(--color-yellow);
}

.todo__list--container {
  padding-left: calc(var(--padding-basic) * 2);
}

.todo__checkbox {
  transform: scale(1.3);
  margin: 0 calc(var(--margin-basic) / 2);
}

.todo__desc {
  font-size: calc(var(--fontsize-basic) * 1.1);
  margin-right: calc(var(--margin-basic) / 2);
}

.todo__btn {
  font-size: var(--fontsize-basic);
  border: 700;
  background-color: transparent;
}

.todo__form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--padding-basic);
}

.todo__form input {
  background-color: transparent;
  font-weight: 600;
  padding: calc(var(--padding-basic) / 2);
}

.todo__form button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-yellow);
  margin-right: var(--margin-basic);
  cursor: pointer;
}

.todo__switch {
  visibility: visible;
  position: absolute;
  bottom: -40px;
  right: -10px;
  background-color: transparent;
  font-size: var(--fontsize-basic);
}

.todo__visible {
  visibility: visible;
  animation-duration: 400ms;
  animation-name: showslowly;
}

@keyframes showslowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* weather CSS */
.weather__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(247, 241, 227, 0.2);
  color: var(--color-black);
  border-radius: 8px;
}

.weather__icon {
  display: block;
  width: 60px;
  height: 60px;
}

.weather__container p {
  font-size: calc(var(--fontsize-basic) * 1.1);
  padding-right: var(--padding-basic);
}
